
.image-bg {
    height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 12px;
}

.availability-group {
    display: inline-flex;
    gap: 8px;
    align-items: center;
}

.sale {
    padding: 8px 10px;
    font-weight: 500;
    text-transform: uppercase;
    background: var(--color-white);
    width: max-content;
    float: right;
}

.gift-group {
    padding: 6px;
    display: flex;
    gap: 8px;
    align-items: center;
    background: var(--color-white);
    width: max-content;
    margin-top: 10px;
}

.footer {
    padding: 10px;
    background: var(--color-white);
    border: 1px solid var(--color-grey-border);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.price {
    display: flex;
    gap: 12px;
}

.sale-price {
    font-weight: 600;
    color: var(--color-text-black);
}

.current-price {
    text-decoration: line-through;
    font-weight: 300;
    color: var(--color-text-black-secondary);
}

