.nav-list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-list-item-list-item.active,
.nav-list-item.active p {
    color: var(--color-accent);
}
.nav-list-item-block {
    padding: 32px;
    background: var(--color-white);
    position: absolute;
    top: 64px;
    left: 55%;
    transform: translateX(-50%)  translateY(40px);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 50px;
    justify-content: space-between;
    opacity: 0;

    transition:
        opacity 0.3s ease,
        transform 0.5s ease;
    pointer-events: none;
}

.nav-list-item-block.active {
    pointer-events: auto;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.arrow-bottom {
    transition: transform 0.5s ease;
}

.arrow-bottom.active {
    transform: rotate(180deg);
    margin-top: 2px;
}

.text-wrapper .text {
    color: var(--color-text);
}

.nav-list-item .text {
    color: var(--color-text);
    transition: color 0.4s ease;
}

.nav-list-item-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav-list-item-list-item {
    color: var(--color-text);
    transition: color 0.4s ease;
}

.text-wrapper {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    gap: 10px;
    align-items: center;
}

.image {
    width: 300px;
    border: 1px solid var(--color-border);
}

.image img {
    width: 100%;
}

.button {
    margin-top: auto;
}

@media (hover: hover) {
    .nav-list-item-list-item:hover {
        color: var(--color-accent);
    }

    .nav-list-item .text:hover {
        color: var(--color-accent);
    }
}
