.comment-form,
textarea {
    width: 100%;
}

.comment-form {
    display: flex;
    gap: 0;
}

textarea {
    user-select: none;
    border: 1px solid var(--color-border);
    padding: 24px 48px;
    resize: none;
    overflow-y: auto;
    font-size: 14px;

    &::placeholder {
        color: var(--color-accent);
    }
}
