.hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.head-info {
    gap: 12px;
    align-items: center;
    display: flex;
}

.reviews {
          color: var(--color-accent);
}

@media (max-width: 535px) {
    .head-info {
        flex-direction: column;
        align-items: flex-start;
    }
}