:root {
    --color-text: rgba(22, 28, 36, 1);
    --color-text-muted: rgba(69, 79, 91, 1);
    --color-accent: rgba(66, 149, 228, 1);
    --color-accent-soft: rgba(173, 215, 255, 1);
    --color-surface-tint: rgba(242, 248, 255, 1);
    --color-accent-hover: rgba(86, 169, 248, 1);
    --color-surface-field: #eaeff6;
    --color-border: #eaeaea;
    --color-surface-soft: #f5f5f5;
    --color-white: #fff;
    --color-surface-neutral: rgba(246, 246, 246, 1);
}
