.section-filter-product {
    padding-bottom: 32px;

    @media (max-width: 1023px) {
        padding-bottom: 24px;
    }
}

.filter-product {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 1023px) {
        flex-direction: column;
    }
}

.filter-product__main {
    flex: 1;
    min-width: 0;

    @media (max-width: 1023px) {
        flex: unset;
        min-width: unset;
        width: 100%;
    }
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 40px;
    width: 100%;

    @media (max-width: 1230px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 30px;
    }

    @media (max-width: 535px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.title-category {
    text-transform: capitalize;
    font-weight: 600;
}

.head-filter {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 30px 0;
    align-items: center;

    @media (max-width: 767px) {
        flex-direction: column;
        gap: 50px;
    }
}

.button-container {
    margin-top: 48px;
    text-align: center;

    @media (max-width: 1023px) {
        margin-top: 36px;
    }
}
