.price {
    display: flex;
    gap: 12px;
}

.sale-price {
    font-weight: 600;
    color: var(--color-text);
}

.current-price {
    text-decoration: line-through;
    font-weight: 300;
    color: var(--color-text-muted);
}
