.typography {
    font-size: 14px;
    line-height: 1.7;
}

.h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .h5 {
        font-size: 16px;
    }
}
