.root {
    background: var(--color-surface-tint);
    padding: 60px 0;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.text {
    text-align: center;
}

.formWrap {
    @media (max-width: 676px) {
        align-self: stretch;
        width: 100%;
    }
}
