.section-wrapper {
          background: var(--color-callback-section-blue);
          padding: 60px 0;
}

.inner {
          display: flex;
          flex-direction: column;
          gap: 24px;
          align-items: center;
}

.text {
          text-align: center;
}