.root {
    width: 100%;
}

.text {
    white-space: pre-wrap;
    color: var(--color-text);
    line-height: 1.5;
    font-weight: 400;
    padding: 20px;
    background: var(--color-surface-neutral);
}

.empty {
    color: var(--color-text-muted);
}
