.main-image {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 500px;
    background-color: var(--color-product-card);
    background-position: center center;
}

.other-image {
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: 2px solid var(--color-grey-border);
    cursor: pointer;

    background-color: var(--color-white);
    transition: background-color 0.3s ease;
}

.images-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 12px;
}

@media (hover: hover) {
    .other-image:hover {
          background-color: var(--color-product-card);
    }
}
