.typography {
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-text-muted);
}

.default {
    font-size: 14px;
}

.body-xl {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.4;
}

.body-l {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
}

.body-s {
    font-size: 16px;
}

.body-xs {
    font-size: 12px;
}

.h2 {
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    color: var(--color-text);
}

.h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.1875;
}

.h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .h4 {
        font-size: 24px;
    }
    .h5 {
        font-size: 16px;
    }
}

@media (max-width: 676px) {
    .h2 {
        font-size: 30px;
    }
    
    .body-xl {
        font-size: 20px;
    }

    .body-l {
        font-size: 16px;
    }
}

@media (max-width: 535px) {
    .h2 {
        font-size: 22px;
    }
}

@media (max-width: 375px) {
    .h2 {
        font-size: 20px;
    }
}
